# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment configuration
.vscode
.env
.pypirc
.python-version
poetry.lock

# Virtual Environments
venv/

# Tests
.pytest_cache/
.coverage

# Distribution / packaging
dist/